In [1]:
import pandas as pd

In [2]:
df = pd.read_pickle("../dataset/035720.p")
df.head()

        date     close    diff      open      high       low    volume
0 2018-04-10  122500.0  1000.0  121500.0  123500.0  121500.0  321437.0
1 2018-04-09  121500.0  1000.0  121500.0  122500.0  120000.0  547412.0
2 2018-04-06  122500.0  2000.0  125000.0  125500.0  122000.0  376868.0
3 2018-04-05  124500.0  1000.0  125000.0  126000.0  124000.0  299168.0
4 2018-04-04  123500.0  5000.0  129000.0  129000.0  123500.0  730140.0